<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue实现全选</title>
</head>
<body>
<div id="app">
  <input type="text"  v-model="input">
  <ul>
    <li v-for="item in testMsg" v-show="!input || item.indexOf(input) > -1">{{item}}</li>
  </ul>
</div>
<script src="https://unpkg.com/vue@2.2.1/dist/vue.js"></script>
<script >
  new Vue({
    el: '#app',
    data: {
      input:'',
      testMsg:['篮球','足球','羽毛球','棒球','乒乓球','林丹','我爱羽毛球']
    },
    methods: {

    }
  })
</script>
</body>
</html>
